datas/soumikrakshit/anime-faces/*
.vscode/*
__pycache__/*
callback/__pycache__/*
dataloader/__pycache__/*
model/__pycache__/*
checkpoints/*
callback/MNIST/*
callback/checkpoint/*
bash/run_.sh
lightning_logs/*
